/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
app/Exceptions/Handler.php
composer.json
composer.lock
composercopy.json
composercopy.lock
config/app.php
app/Exceptions/Handler.php
storage/framework/cache/
storage/framework/cache/data/6c/cb/6ccb4b7c39a6e77f76ecfa935a855c6c46ad5611
storage/framework/cache/data/a6/6b/a66b4efc63d3518188e7e286da606fdad5c34272
storage/framework/cache/data/b3/97/b3974c97440cc97a597f357060c2c75edc1bb7d8
storage/framework/cache/data/b3/d1/b3d1f7e0d3b04147f5808708e715d8eaa462d4a8
storage/framework/cache/data
.tmp.drivedownload