/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
app/Exceptions/Handler.php
composer.json
composer.lock
composercopy.json
composercopy.lock
config/app.php
